{% extends 'base.html.twig' %}


{% block body %}

<h1>Bienvenue dans ce blog</h1>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Consequuntur deserunt earum autem voluptates reiciendis enim sapiente a omnis quaerat debitis sit animi totam vero temporibus ipsam, 
quos blanditiis, aut ipsa, tempore nesciunt! Aspernatur voluptate labore ut beatae fugit maiores. Ex?</p>
<p>Quo accusamus error ratione quas sapiente quos vel dolores aspernatur consequuntur neque nisi doloribus iusto molestiae 
in repellendus voluptas aliquam, expedita voluptatibus dolorum. Ad cum, 
libero a amet itaque voluptatibus enim explicabo iste totam non maiores sapiente perspiciatis vero in!</p>

{% endblock %}